## Model Training

In [27]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('data/gemstone.csv')
df.head()

   id  carat        cut color clarity  depth  table     x     y     z  price
0   0   1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55  13619
1   1   2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05  13387
2   2   0.70      Ideal     G     VS1   61.2   57.0  5.69  5.73  3.50   2772
3   3   0.32      Ideal     G     VS1   61.6   56.0  4.38  4.41  2.71    666
4   4   1.70    Premium     G     VS2   62.6   59.0  7.65  7.61  4.77  14453

In [3]:
df = df.drop(labels=['id'], axis=1)
df.head()

   carat        cut color clarity  depth  table     x     y     z  price
0   1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55  13619
1   2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05  13387
2   0.70      Ideal     G     VS1   61.2   57.0  5.69  5.73  3.50   2772
3   0.32      Ideal     G     VS1   61.6   56.0  4.38  4.41  2.71    666
4   1.70    Premium     G     VS2   62.6   59.0  7.65  7.61  4.77  14453

In [4]:
## Independent & Dependent variables
X = df.drop(labels = ['price'], axis=1)
Y = df.price

In [7]:
# Define which columns should be ordinal-encoded and which should be scaled
categorical_columns = X.select_dtypes(include='object').columns
numerical_columns = X.select_dtypes(exclude='object').columns

In [8]:
# Define the custom ranking for each ordinal variable
cut_categories = ['Fair', 'Good', 'Very Good','Premium','Ideal']
color_categories = ['D', 'E', 'F', 'G', 'H', 'I', 'J']
clarity_categories = ['I1','SI2','SI1','VS2','VS1','VVS2','VVS1','IF']

In [10]:
from sklearn.impute import SimpleImputer         ## handling missing values
from sklearn.preprocessing import StandardScaler ## feature scaling
from sklearn.preprocessing import OrdinalEncoder ## ordinal encoding

## pipelines
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

In [11]:
## Numerical Pipeline
num_pipeline = Pipeline(
    steps=[
        ('imputer', SimpleImputer(strategy = 'median')),
        ('scaler', StandardScaler())
    ]
)

In [12]:
## Categorical Pipeline
cat_pipeline = Pipeline(
    steps=[
        ('imputer', SimpleImputer(strategy='most_frequent')),
        ('OrdinalEncoder', OrdinalEncoder(categories=[cut_categories, color_categories, clarity_categories])),
        ('scaler', StandardScaler())
    ]
)

In [13]:
preprocessor = ColumnTransformer([
    ('num_pipeline', num_pipeline, numerical_columns),
    ('cat_pipeline', cat_pipeline, categorical_columns)
])

In [14]:
## Train Test Split

from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.30, random_state=101)

In [24]:
X_train_transformed =  preprocessor.fit_transform(X_train)

In [28]:
# Get the feature names for the numerical columns
num_transformer = preprocessor.named_transformers_['num_pipeline']
num_feature_names = num_transformer.get_feature_names(numerical_columns)

# Get the feature names for the categorical columns
cat_transformer = preprocessor.named_transformers_['cat_pipeline']
cat_feature_names = cat_transformer.get_feature_names(categorical_columns)

# Concatenate the two sets of feature names
feature_names = np.concatenate([num_feature_names, cat_feature_names])

AttributeError: 'Pipeline' object has no attribute 'get_feature_names'

In [26]:
X_train = pd.DataFrame(X_train_transformed, columns=X_train_transformed.columns())
## X_test = pd.DataFrame(preprocessor.transform(X_test), columns=preprocessor.get_feature_names_out())

AttributeError: 'numpy.ndarray' object has no attribute 'columns'